{% extends "base.html" %}

{% block title %}Main{% endblock title %}

{% block content %}

<h3> About html </h3>
<h4> Coming soon...</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum maximus facilisis neque ut feugiat.
    Nam accumsan tortor pharetra nisl consectetur, eu ultricies lorem consectetur.
    Aenean placerat maximus purus, vel volutpat sem interdum in. Aliquam erat volutpat.
    Integer dignissim at nulla vitae ullamcorper. Etiam eros ex, posuere id maximus sit amet, posuere non metus.
    Vestibulum fermentum enim a quam laoreet, a porttitor risus rutrum.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Maecenas ante libero, ultricies sit amet ligula quis, venenatis posuere arcu.</p>

{% endblock content %}