{% extends "base.html" %}

{% block title %}Main{% endblock title %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading panel-heading-comments-custom">
    <h3 class="panel-title">Internet forum</h3>
  </div>
  <div class="panel-body">
      An Internet forum, or message board, is an online discussion site where people can hold conversations in the
      form of posted messages. They differ from chat rooms in that messages are often longer than one line of text,
      and are at least temporarily archived. Also, depending on the access level of a user or the forum set-up,
      a posted message might need to be approved by a moderator before it becomes visible. Forums have a specific set
      of jargon associated with them; e.g., a single conversation is called a "thread", or topic.
      A discussion forum is hierarchical or tree-like in structure: a forum can contain a number of subforums,
      each of which may have several topics. Within a forum's topic, each new discussion started is called a thread,
      and can be replied to by as many people as so wish. Depending on the forum's settings, users can be anonymous
      or have to register with the forum and then subsequently log in in order to post messages. On most forums,
      users do not have to log in to read existing messages.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-comments-custom">
    <h3 class="panel-title">Administrator</h3>
  </div>
  <div class="panel-body">
      The administrators (short form: "admin") manage the technical details required for running the site.
      As such, they may promote (and demote) members to/from moderators, manage the rules, create sections
      and sub-sections, as well as perform any database operations (database backup etc.).
      Administrators often also act as moderators. Administrators may also make forum-wide announcements,
      or change the appearance (known as the skin) of a forum. There are also many forums where administrators
      share their knowledge.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-comments-custom">
    <h3 class="panel-title">Post</h3>
  </div>
  <div class="panel-body">
      A post is a user-submitted message enclosed into a block containing the user's details and the date and time
      it was submitted. Members are usually allowed to edit or delete their own posts. Posts are contained in threads,
      where they appear as blocks one after another. The first post starts the thread; this may be called the TS
      (thread starter) or OP (original post). Posts that follow in the thread are meant to continue discussion about
      that post, or respond to other replies; it is not uncommon for discussions to be derailed.
      On Western forums, the classic way to show a member's own details (such as name and avatar) has been on the left
      side of the post, in a narrow column of fixed width, with the post controls located on the right, at the bottom
      of the main body, above the signature block. In more recent forum software implementations, the Asian style of
      displaying the members' details above the post has been copied.
      Posts have an internal limit usually measured in characters. Often one is required to have a message of minimum
      length of 10 characters. There is always an upper limit but it is rarely reached – most boards have it at either
      10,000, 20,000, 30,000, or 50,000 characters.
      Most forums keep track of a user's postcount. The postcount is a measurement of how many posts a certain
      user has made. Users with higher postcounts are often considered more reputable than users with lower postcounts,
      but not always. For instance some forums have disabled postcounts with the hopes that doing so will emphasize the
      quality of information over quantity.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-comments-custom">
    <h3 class="panel-title">Thread</h3>
  </div>
  <div class="panel-body">
      A thread (sometimes called a topic) is a collection of posts, usually displayed from oldest to latest, although
      this is typically configurable: Options for newest to oldest and for a threaded view (a tree-like view applying
      logical reply structure before chronological order) can be available. A thread is defined by a title,
      an additional description that may summarize the intended discussion, and an opening or original post
      (common abbreviation OP, which can also mean original poster), which opens whatever dialogue or makes
      whatever announcement the poster wished. A thread can contain any number of posts, including multiple posts
      from the same members, even if they are one after the other.
  </div>
</div>
{% endblock content %}