{% extends "base.html" %}

{% block title %} {{ topic.title }} {% endblock title %}

{% block content %}
<!-- Topic details -->
<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom">
                <h3 class="panel-title"><strong>Title: </strong>{{ topic.title }} &nbsp; by
                    <strong>{{ topic.author_email }}</strong> &nbsp; created at
                    {{ topic.created.strftime("%d.%m.%Y at %H:%M") }}h</h3>

                {% if user %}
                    {% if topic.author_email == user.email() or user.admin %}

                        <span class="pull-right"><a class="btn btn-xs btn-danger" href="#" data-toggle="modal" data-target="#deleteTopicModal">Delete topic</a></span>

                    <!-- Modal - delete topic -->
                    <div class="modal fade" id="deleteTopicModal" tabindex="-1" role="dialog" aria-labelledby="deleteTopicModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <form method="post" action="/topic/{{topic.key.id()}}/delete">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="deleteTopicLabel">Delete topic</h4>
                                    </div>

                                    <input type="hidden" name="csrf_token" value="{{csrf_token}}">

                                    <div class="modal-body">
                                        <p>
                                            Do you really want to delete this topic?
                                        </p>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-xs btn-danger">Delete topic</button>
                                        <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End modal - delete topic -->
                    {% endif %}
                {% endif %}
            </div>

            <div class="panel-body">
                <p>{{ topic.content }}</p>
            </div>
        </div>

        <!-- Listing comments in related topic -->
        {% for comment in comments %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-comments-custom">
                        <h4 class="panel-title"><strong>{{ comment.author_email }}</strong> on
                            {{ comment.created.strftime("%d.%m.%Y at %H:%M") }}h</h4>
                        {% if user  %}
                            {% if comment.author_email == user.email() or user.admin  %}


                                    <span class="pull-right"><a class="btn btn-xs btn-danger" href="#" data-toggle="modal" data-target="#deleteCommentModal{{comment.key.id()}}">Delete comment</a></span>

                                <!-- Modal - delete comment -->
                    <div class="modal fade" id="deleteCommentModal{{comment.key.id()}}" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel{{comment.key.id()}}" aria-hidden="true">
                        <div class="modal-dialog">
                            <form method="post" action="/comment/{{comment.key.id()}}/delete">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="deleteCommentModalLabel{{comment.key.id()}}">Delete comment</h4>
                                    </div>

                                    <input type="hidden" name="csrf_token" value="{{csrf_token}}">

                                    <div class="modal-body">
                                        Do you really want to delete this comment?
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-xs btn-danger">Delete comment</button>
                                        <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End modal - delete comment -->
                            {% endif  %}
                        {% endif  %}
                    </div>
                    <div class="panel-body">
                        <p>{{ comment.content }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- Add new comment panel -->
        <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-comments-custom">Add new comment</div>
                <div class="panel-body">
                    <form method="post" action="/topic/{{topic.key.id()}}/comment/add">
                        <!-- CSRF protection -->
                        <input type="hidden" value="{{ csrf_token }}" name="csrf_token">
                        <div class="form-group">
                            <textarea name="comment-text" class="form-control" rows="4" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-ok"></span> Submit your comment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <!-- Back button -->
        <div class="col-md-8 col-md-offset-2 text-center">
            <a href="/" class="btn btn-default" role="button"> Back to Main page</a>
        </div>
    </div>
</div>

{% endblock content %}