{% extends "base.html" %}

{% block title %}Create New Topic{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Create New Topic</h1>
        <form method="post">
            <div class="form-group">
                <label>Title</label>
                <input class="form-control" name="title" required>
                <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" name="content" rows="5" required></textarea>
                </div>
            </div>
            <button class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Submit</button>
        </form>
    </div>

</div>

{% endblock content %}